//
//  Secrets.xcconfig
//  TransparentAccountsApp
//
//  Created by Mustafa Bekirov on 09.07.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Secrets.xcconfig.example
CSAS_API_KEY = <# Insert your CSAS API key here #>
