//
//  Secrets.xcconfig
//  TransparentAccountsApp
//
//  Created by Mustafa Bekirov on 09.07.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

CSAS_API_KEY = b8dfcec9-259e-42ae-b02f-66a5bee7a8a3
